@charset "utf-8";
.inline{
	float: right;
}
.Logo-div{
	float: left;
	margin: 10px;
}
.top-buttons{
	padding-top: 10px;
	padding-right: 30px;
	padding-left: 30px;
}
.top-bar{
	background-color: #222222;
	margin: -5px 0px 10px 0px;
	height: 70px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
p {
	color: #FFFFFF;
}
h1 {
	color: #FFFFFF;
}