@charset "utf-8";
.inline{
	float: right;
}
.Logo-div{
	float: left;
	margin: 10px;
}
.top-buttons{
	padding-top: 10px;
	padding-right: 40px;
}
.top-bar{
	background-color: #222222;
	margin: -5px -10px -5px -10px;
	height: 70px;
}
p {
	color: #FFFFFF;
}